#########################
# IDE
#########################

bin/*.app
bin/*/*.c4d

#########################
# IDE
#########################

# XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
# XCode 4
xcuserdata
*.xcworkspace

#########################
# operating system
#########################

# OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

#########################
# miscellaneous
#########################

.mailmap
/apps*/

Iconr
